<%- include('../partials/header', locals) %>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Ascean va'Esai</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://daethos.github.io/Arena">Ascea: Last Duel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/profiles/<%= profile._id %>/characters/new">New Ascean</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Champions
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profiles/<%= profile._id %>">Profile</a></li>
              <li><a class="dropdown-item" href="/profiles/<%= profile._id %>/characters/new">New Ascean</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
      </nav>
  </nav>

  <div class="col-8 offset-2 bg-light p1 border">
    <% if (!user) { %>
  <div class="col-10 bg-white text-start offset-1 p-2 mt-5 border">
    <h2>Login Here:</h2>
  </div>
  <div class="col-10 bg-white text-center offset-1 p-2 mb-4 border">
    <a class="btn btn-outline-success btn-lg my-3" href="/auth/google" class="login">LOG IN</a>
  </div>
    <% } else { %>
  <div class="col-10 bg-white text-start offset-1 p-2 mt-5 border">
    <h2>Create Profile:</h2>
  </div>
  <div class="col-10 bg-white text-center offset-1 p-2 mb-4 border">
    <form id="make-profile" action="/profiles/new" method="GET">
    <input class="btn btn-outline-dark btn-lg my-5" type="submit" value="Create Profile!">
    </form>
  </div>
    <% } %>
</div>

<%- include('../partials/footer') %>
