<%- include('../partials/header', locals) %>

<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand text-info">Ascean va'Esai</a>
      <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-info" aria-current="page" href="https://daethos.github.io/Arena">Ascea: Last Duel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-info" href="/profiles/<%= profile._id %>/characters/new">New Ascean</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown Menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-info" href="/profiles/<%= profile._id %>">Profile</a></li>
              <li><a class="dropdown-item text-info" href="/profiles/<%= profile._id %>/characters/new">New Ascean</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar bg-black">
        <div class="container-fluid">
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
      </nav>
  </nav>

<div class="container-fluid bg-black">
<div class="col-12 bg-black p1 border text-center border-info">
  <div class="col-10 bg-black text-center offset-1 p-2 mt-5 border border-info">
    <h1 class="text-info">Profile Finder And Creator!</h1>
  </div>
  <div class="col-10 bg-black text-start offset-1 p-2 mt-4 border border-info">
    <h5 class="text-white">Firstly, Do You Possess A Profile?</h5>
  </div>
  <div class="col-10 bg-black text-Center mt-4 offset-1 p-2">
    <% profile.forEach(function(p) { %>
      <a class="btn btn-outline-primary btn-large" href="/profiles/<%= p._id %>">Go to Your Profile Named: <%= p.name %> !</a>
    <% }) %>  
  </div>
    <form id="create-profile" action="/profiles" method="POST">
  <div class="form-floating text-start col-10 offset-1 mt-4 border border-info">
    <textarea class="form-control border border-info bg-black text-white" style="height: 85px" name="name" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea" class="text-white">Create Profile Name</label>
  </div>
    <input class="btn btn-outline-success btn-lg my-4" type="submit" value="Create Profile">
    </form>
</div>
</div>

<%- include('../partials/footer') %>