<%- include('../partials/header') %>

    <h1>Here lies the New Profile Creation Page!</h1>
    <br><br>
    <a href="/logout">LOG OUT</a><br><br>
    <h2>First, lets make sure you don't already have a profile!
    <br>
        <% profile.forEach(function(p) { %>
    <br>
        <a href="/profiles/<%= p._id %>">Go to Profile <%= p.name %> !</a>
        <br><br>
    <form id="profile-show" action="/profiles/<%= profile._id %>" method="GET">
        <input type="submit" value="Go to Profile <%= p.name %>!">
   </form>
        <% }) %>  
    <br><br>
    <form id="profile-show" action="/profiles/<%= profile._id %>" method="GET">
        <input type="submit" value="Go to Profile!">
   </form>
   <br><br>
    </h2>
    <h2>All You Need is a Name for your Profile!</h2>
    <form id="create-profile" action="/profiles" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <input type="submit" value="Create Profile">
    </form>


<%- include('../partials/footer') %>