<%- include('../partials/header') %>

    <section id="profile-show-page">
    <h1>And this is the SHOW Page for Profiles</h1>
    <h2>Hello, <%= profile.name %> </h2>
        <a href="/logout">LOG OUT</a><br><br>
        <form id="new-character" action="/profiles/<%= profile._id %>/characters/new" method="GET">
            <input type="submit" value="New Character!">
        </form>
        <h3>Select a Character From the Dropdown Menu Below!</h3>
        <select>
            <% characters.forEach(function(c) { %>
                <option><%= c.name %></option>
            </select>
                <br>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Build Description</th>
                    <th>Weapon</th>
                    <th>Shield</th>
                    <th>Armor</th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td><%= c.name %> </td>
                    <td><%= c.weapon.name %> </td>
                    <td><%= c.shield.name %> </td>
                    <td><%= c.armor.name %> </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    </section>


<%- include('../partials/footer') %>